
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #646B79;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  html{
    scroll-behavior: smooth;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background-color: rgb(40,44,52);
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  /* Table for my projects on the index menu */
  table{
      border: 5px solid black;
      background-color: #4E575D;
  }
  
  /*When the mouse is over a table */
  table:hover{
      background-color: rgb(28,28,30);
      cursor: pointer;
  }
  
  .presentation{
    right: 0%;
    background-color: #0000005e;
    height: 100%;
    width: 300px;
    position: fixed;
  }

  img{
      width: 300px;
  }
  
  .icon{
      width: 23px;
  }
  
  .bigimg{
      border: 2px solid black;
      margin: auto;
      width: auto;
      height: 590px;
  }
  
  .row{
      display: flex;
  }

  .centerobj{
    margin-left: 75px;
  }
  
  a, h1, td, th{
      color: white;
      text-decoration: none;
  }
  
  h3{
    margin-top:40px;
    margin-bottom:40px
  }

  h2{
      text-align: center;
      font-size:40px;
      color: white;
  }
  
  span{
      background-color: white;
  }
  
  body{
      background-color: rgb(40,44,52);
  }
  
  footer {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  html{
      /*font-family: Consolas;*/
      font-family: 'Montserrat','Montserrat-fallback',Arial,sans-serif;
  }
  
  .btn{
    border: 2px solid black;
    background-color: #21c229e1;
    border-radius: 12px;
    padding: 5px 50px;
    font-size: 30px;
    cursor: pointer;
  }

  .btn:hover{
    background-color: #27d83077
  }

  .btnplay{
    background-color: black;
    color: white;
    font-family: Consolas;
    padding: 5px 50px;
    font-size: 30px;
    cursor: pointer;
  }

  .btnplay:hover{
    background-color: white;
    color: black;
  }

  .elements{
      margin: auto;
  }
  
  .desc{
      text-align: center;
      /*background-color: white;*/
  }
  
  .whiteCenter{
      text-align: center;
      color: white;
  }

  .aleft{
    color: rgb(109, 75, 13);
  }

  .warning{
    background-color: yellow;
    color: red;
  }

  .betasticker{
    border: 2px solid orange;
    color: red;
    font-size: 15px;
  }

  .underline{
    text-decoration: underline;
  }

  code{
    color: white;
    border-color: white;
    background-color: #000000;
    border: 1px solid #312f2f;
    padding: 20px;
    margin: auto;
    width: 500px;
  }

  .codename{
    color: #04AA6D;
  }

  .centerpage{
    margin: auto;
  }

  .linker{
    color: rgb(12, 93, 243);
    cursor: pointer;
    padding-bottom: 90px;
  }
  .linker:hover{
    color: orange;
  }

  .fade-in{
    animation: fadeIn 2s;
  }

  @keyframes fadeIn{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
  